@font-face {
  font-family: "iconfont"; /* Project id 3198268 */
  src: url('iconfont.woff2?t=1645770143733') format('woff2'),
       url('iconfont.woff?t=1645770143733') format('woff'),
       url('iconfont.ttf?t=1645770143733') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-new:before {
  content: "\e625";
}

.icon-nav:before {
  content: "\e611";
}

.icon-followed:before {
  content: "\e601";
}

.icon-attention:before {
  content: "\e8b1";
}

.icon-history:before {
  content: "\e6d1";
}

.icon-love:before {
  content: "\e627";
}

.icon-comment:before {
  content: "\e8b4";
}

.icon-hot:before {
  content: "\e6b2";
}

.icon-collect:before {
  content: "\e600";
}

.icon-answer:before {
  content: "\e7a0";
}

.icon-blog:before {
  content: "\e603";
}

.icon-question:before {
  content: "\ec2e";
}

.icon-idea:before {
  content: "\e861";
}

.icon-write:before {
  content: "\e823";
}

.icon-article:before {
  content: "\e615";
}

.icon-good:before {
  content: "\ec7f";
}

