//============= 整体 =============
//===== 主题色 =====
$theme-color: #17a788;

//============= 头部 =============
//===头部高度
$header-height: 80px;
//===头部logo字体大小
$header-zhi-size: 58px;
$header-xiao-size: 45px;
$header-zhi-color: #02bab2;
$header-xiao-color: #5397fa;




