html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/**
 * 头部搜索框激活边框颜色修改
 */
.header .center .el-input__inner:focus {
  outline: 0;
  border-color: #17a788;
}

/**
 * 头部头像下拉菜单样式修改
 */
.el-popover.popover-panel {
  text-align: center;
}

.el-popover.popover-panel .avatar-menu {
  font-size: 25px;
}

/**
 * 分享按钮下来菜单样式修改
 */
.el-popover.share-popover {
  text-align: center;
}

.el-popover.share-popover .share-panel .share-item {
  color: #8590a6;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
}

.el-popover.share-popover .share-panel .share-item p{
  padding: 0;
  margin: 0;
}

.el-popover.share-popover .share-panel .share-item:hover {
  background-color: #f6f6f6;
}
